@import "tailwindcss" source("../../app");
@import "./article.css";
@import "@repo/ui/index.css";

@theme {
  --text-header: var(--header-fontsize);
  --color-primary: var(--color-gray-12);
  --color-secondary: var(--color-gray-11);
}

html {
  scrollbar-gutter: stable;
}
