@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-green-1: #fbfefb;
	--color-green-2: #f5fbf6;
	--color-green-3: #e7f7eb;
	--color-green-4: #d7f1de;
	--color-green-5: #c4e9ce;
	--color-green-6: #addfba;
	--color-green-7: #8dcfa0;
	--color-green-8: #5bbb7c;
	--color-green-9: #5fbf80;
	--color-green-10: #53b375;
	--color-green-11: #118045;
	--color-green-12: #1d3c27;

	--color-green-a1: #00c00004;
	--color-green-a2: #00991a0a;
	--color-green-a3: #00aa2b18;
	--color-green-a4: #00a62d28;
	--color-green-a5: #01a02c3b;
	--color-green-a6: #009c2952;
	--color-green-a7: #00942b72;
	--color-green-a8: #009634a4;
	--color-green-a9: #009935a0;
	--color-green-a10: #008f33ac;
	--color-green-a11: #007738ee;
	--color-green-a12: #00230be2;

	--color-green-contrast: #fff;
	--color-green-surface: #f3faf4cc;
	--color-green-indicator: #5fbf80;
	--color-green-track: #5fbf80;

}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		@theme {
			--color-green-1: oklch(99.4% 0.0053 153.1);
			--color-green-2: oklch(98.2% 0.0094 153.1);
			--color-green-3: oklch(96% 0.0236 153.1);
			--color-green-4: oklch(93.4% 0.0377 153.1);
			--color-green-5: oklch(90.1% 0.0535 153.1);
			--color-green-6: oklch(85.8% 0.0718 153.1);
			--color-green-7: oklch(79.8% 0.0952 153.1);
			--color-green-8: oklch(71.6% 0.1299 153.1);
			--color-green-9: oklch(73% 0.1299 153.1);
			--color-green-10: oklch(69.3% 0.1299 153.1);
			--color-green-11: oklch(52.7% 0.1299 153.1);
			--color-green-12: oklch(32.6% 0.0535 153.1);

			--color-green-a1: color(display-p3 0.2667 0.7569 0.0235 / 0.016);
			--color-green-a2: color(display-p3 0.0235 0.5647 0.0235 / 0.036);
			--color-green-a3: color(display-p3 0.0078 0.5765 0.1059 / 0.083);
			--color-green-a4: color(display-p3 0.0078 0.5765 0.0941 / 0.138);
			--color-green-a5: color(display-p3 0.0039 0.5608 0.098 / 0.204);
			--color-green-a6: color(display-p3 0.0039 0.5451 0.0863 / 0.283);
			--color-green-a7: color(display-p3 0.0039 0.502 0.0941 / 0.393);
			--color-green-a8: color(display-p3 0 0.498 0.0941 / 0.546);
			--color-green-a9: color(display-p3 0 0.5137 0.098 / 0.53);
			--color-green-a10: color(display-p3 0 0.4706 0.098 / 0.577);
			--color-green-a11: color(display-p3 0 0.3451 0.0863 / 0.773);
			--color-green-a12: color(display-p3 0 0.102 0.0196 / 0.855);

			--color-green-contrast: #fff;
			--color-green-surface: color(display-p3 0.9569 0.9804 0.9569 / 0.8);
			--color-green-indicator: oklch(73% 0.1299 153.1);
			--color-green-track: oklch(73% 0.1299 153.1);
		}
	}
}

@theme {
	--color-gray-1: #fcfcfd;
	--color-gray-2: #f9f9fb;
	--color-gray-3: #eff0f3;
	--color-gray-4: #e7e8ec;
	--color-gray-5: #e0e1e6;
	--color-gray-6: #d8d9e0;
	--color-gray-7: #cdced7;
	--color-gray-8: #b9bbc6;
	--color-gray-9: #8b8d98;
	--color-gray-10: #80828d;
	--color-gray-11: #62636c;
	--color-gray-12: #1e1f24;

	--color-gray-a1: #00005503;
	--color-gray-a2: #00005506;
	--color-gray-a3: #00104010;
	--color-gray-a4: #000b3618;
	--color-gray-a5: #0009321f;
	--color-gray-a6: #00073527;
	--color-gray-a7: #00063332;
	--color-gray-a8: #00083046;
	--color-gray-a9: #00051d74;
	--color-gray-a10: #00051b7f;
	--color-gray-a11: #0002119d;
	--color-gray-a12: #000107e1;

	--color-gray-contrast: #ffffff;
	--color-gray-surface: #ffffffcc;
	--color-gray-indicator: #8b8d98;
	--color-gray-track: #8b8d98;

  --color-background: var(--color-gray-3);
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		@theme {
			--color-gray-1: oklch(99.1% 0.0015 277.7);
			--color-gray-2: oklch(98.2% 0.003 277.7);
			--color-gray-3: oklch(95.6% 0.0045 277.7);
			--color-gray-4: oklch(93.1% 0.0061 277.7);
			--color-gray-5: oklch(91% 0.0077 277.7);
			--color-gray-6: oklch(88.8% 0.0093 277.7);
			--color-gray-7: oklch(85.3% 0.0117 277.7);
			--color-gray-8: oklch(79.4% 0.016 277.7);
			--color-gray-9: oklch(64.6% 0.0165 277.7);
			--color-gray-10: oklch(61% 0.0161 277.7);
			--color-gray-11: oklch(50.3% 0.0139 277.7);
			--color-gray-12: oklch(24.1% 0.0099 277.7);

			--color-gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
			--color-gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
			--color-gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
			--color-gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
			--color-gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
			--color-gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
			--color-gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
			--color-gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
			--color-gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
			--color-gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
			--color-gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
			--color-gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

			--color-gray-contrast: #ffffff;
			--color-gray-surface: color(display-p3 1 1 1 / 80%);
			--color-gray-indicator: oklch(64.6% 0.0165 277.7);
			--color-gray-track: oklch(64.6% 0.0165 277.7);
		}
	}
}

.dark {
	--color-green-1: #26312a;
	--color-green-2: #27362c;
	--color-green-3: #20482f;
	--color-green-4: #0f5630;
	--color-green-5: #076236;
	--color-green-6: #036f3d;
	--color-green-7: #007e44;
	--color-green-8: #00904b;
	--color-green-9: #99ffbd;
	--color-green-10: #8ff5b4;
	--color-green-11: #5ad78d;
	--color-green-12: #94fab8;

	--color-green-a1: #00ee0004;
	--color-green-a2: #00fb000a;
	--color-green-a3: #00fe3620;
	--color-green-a4: #00ff3931;
	--color-green-a5: #00fe4e40;
	--color-green-a6: #00fd5e50;
	--color-green-a7: #00ff6862;
	--color-green-a8: #00ff6c78;
	--color-green-a9: #99ffbd;
	--color-green-a10: #94ffbbf3;
	--color-green-a11: #64fea3cf;
	--color-green-a12: #97ffbbf9;

	--color-green-contrast: #112719;
	--color-green-surface: #213e2b80;
	--color-green-indicator: #99ffbd;
	--color-green-track: #99ffbd;

}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark {
			--color-green-1: oklch(30.1% 0.0204 154.5);
			--color-green-2: oklch(31.5% 0.0257 154.5);
			--color-green-3: oklch(36.3% 0.0622 154.5);
			--color-green-4: oklch(40% 0.0918 154.5);
			--color-green-5: oklch(43.6% 0.1058 154.5);
			--color-green-6: oklch(47.5% 0.1174 154.5);
			--color-green-7: oklch(51.8% 0.1328 154.5);
			--color-green-8: oklch(56.8% 0.1541 154.5);
			--color-green-9: oklch(92% 0.1326 154.5);
			--color-green-10: oklch(89.1% 0.1326 154.5);
			--color-green-11: oklch(79% 0.1541 154.5);
			--color-green-12: oklch(90.5% 0.1326 154.5);

			--color-green-a1: color(display-p3 0 0.9647 0 / 0.015);
			--color-green-a2: color(display-p3 0 0.9882 0.0824 / 0.039);
			--color-green-a3: color(display-p3 0.051 1 0.2824 / 0.12);
			--color-green-a4: color(display-p3 0.0353 1 0.3098 / 0.187);
			--color-green-a5: color(display-p3 0.1176 1 0.3765 / 0.24);
			--color-green-a6: color(display-p3 0.1961 1 0.4431 / 0.302);
			--color-green-a7: color(display-p3 0.2667 1 0.4745 / 0.374);
			--color-green-a8: color(display-p3 0.3255 1 0.4863 / 0.46);
			--color-green-a9: color(display-p3 0.702 1 0.7686 / 0.986);
			--color-green-a10: color(display-p3 0.6863 1 0.7608 / 0.938);
			--color-green-a11: color(display-p3 0.5725 1 0.6824 / 0.795);
			--color-green-a12: color(display-p3 0.6941 1 0.7608 / 0.962);

			--color-green-contrast: #112719;
			--color-green-surface: color(display-p3 0.149 0.2353 0.1647 / 0.5);
			--color-green-indicator: oklch(92% 0.1326 154.5);
			--color-green-track: oklch(92% 0.1326 154.5);
		}
	}
}

.dark {
	--color-gray-1: #2d2e30;
	--color-gray-2: #343436;
	--color-gray-3: #3b3b3f;
	--color-gray-4: #3f4044;
	--color-gray-5: #44454a;
	--color-gray-6: #4b4c52;
	--color-gray-7: #55575e;
	--color-gray-8: #6b6d77;
	--color-gray-9: #767883;
	--color-gray-10: #80828d;
	--color-gray-11: #b5b7c1;
	--color-gray-12: #eeeef0;

	--color-gray-a1: #002ed803;
	--color-gray-a2: #c8c8fb0a;
	--color-gray-a3: #ccccfd15;
	--color-gray-a4: #cfd8fe1b;
	--color-gray-a5: #cfd6fa23;
	--color-gray-a6: #d7dcff2c;
	--color-gray-a7: #d7e0fe3b;
	--color-gray-a8: #dbe1fd5a;
	--color-gray-a9: #dfe4ff68;
	--color-gray-a10: #e3e7ff74;
	--color-gray-a11: #edf0feb4;
	--color-gray-a12: #fdfdffed;

	--color-gray-contrast: #ffffff;
	--color-gray-surface: rgba(0, 0, 0, 0.05);
	--color-gray-indicator: #767883;
	--color-gray-track: #767883;

  --color-background: #2e2e2e;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark {
			--color-gray-1: oklch(30.1% 0.0042 277.7);
			--color-gray-2: oklch(32.5% 0.004 277.7);
			--color-gray-3: oklch(35.4% 0.0055 277.7);
			--color-gray-4: oklch(37.3% 0.0075 277.7);
			--color-gray-5: oklch(39.1% 0.0089 277.7);
			--color-gray-6: oklch(41.6% 0.01 277.7);
			--color-gray-7: oklch(45.7% 0.0121 277.7);
			--color-gray-8: oklch(53.6% 0.0157 277.7);
			--color-gray-9: oklch(57.4% 0.0167 277.7);
			--color-gray-10: oklch(60.8% 0.0165 277.7);
			--color-gray-11: oklch(78.1% 0.0138 277.7);
			--color-gray-12: oklch(94.9% 0.0026 277.7);

			--color-gray-a1: color(display-p3 0 0.1843 0.9686 / 0.01);
			--color-gray-a2: color(display-p3 0.7843 0.7843 0.9882 / 0.039);
			--color-gray-a3: color(display-p3 0.8039 0.8039 0.9961 / 0.082);
			--color-gray-a4: color(display-p3 0.8118 0.8471 0.9961 / 0.106);
			--color-gray-a5: color(display-p3 0.8275 0.8549 1 / 0.134);
			--color-gray-a6: color(display-p3 0.8588 0.8824 1 / 0.168);
			--color-gray-a7: color(display-p3 0.8588 0.8941 1 / 0.225);
			--color-gray-a8: color(display-p3 0.8745 0.898 1 / 0.345);
			--color-gray-a9: color(display-p3 0.8824 0.902 0.9961 / 0.402);
			--color-gray-a10: color(display-p3 0.898 0.9137 1 / 0.45);
			--color-gray-a11: color(display-p3 0.9373 0.949 1 / 0.699);
			--color-gray-a12: color(display-p3 0.9922 0.9922 1 / 0.929);

			--color-gray-contrast: #ffffff;
			--color-gray-surface: color(display-p3 0 0 0 / 5%);
			--color-gray-indicator: oklch(57.4% 0.0167 277.7);
			--color-gray-track: oklch(57.4% 0.0167 277.7);
		}
	}
}
